In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

These are the libraries i'll be using in this project

In [2]:
df_train = pd.read_csv(r"/content/train.csv")
df_test = pd.read_csv(r"/content/test.csv")

using panda pd.read.csv i'll read my train and test dataset

In [3]:
df_train.drop(labels=['Name','Ticket','Cabin','PassengerId'],axis=1,inplace=True)

from the training data i'll drop these colomns because they will not affect the model.

In [4]:
df_train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

here to show the null values in the training dataset

In [5]:
df_train[df_train['Embarked'].isnull()]

     Survived  Pclass     Sex   Age  SibSp  Parch  Fare Embarked
61          1       1  female  38.0      0      0  80.0      NaN
829         1       1  female  62.0      0      0  80.0      NaN

these are the two rows that is a null value in embarked column

In [6]:
df_train.drop(labels=61,axis=0,inplace=True)
df_train.drop(labels=829,axis=0,inplace=True)

i'll drop them to be able to train successfully

In [7]:
df_train = pd.get_dummies(df_train)

panda provide get dummies to convert all the data to integers

In [8]:
my_imputer = SimpleImputer(strategy='mean')
df_clean = pd.DataFrame(my_imputer.fit_transform(df_train))
df_clean.columns = df_train.columns

handling the missing values using simple imputer

In [9]:
X_train = df_clean.drop(labels=['Survived'],axis=1)
Y_train = df_clean['Survived']

droping the label survived from xtrain and ytrain is the target label only which is survived here

In [10]:
model = LogisticRegression()

the model i'll be using is KNN classifier

In [11]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

fitting the model on xtrain and ytrain

In [12]:
PassengerId = df_test['PassengerId']

storing the passenger id in a variable

In [13]:
df_test.drop(labels=['Name','Ticket','Cabin','PassengerId'],axis=1,inplace=True)

In [14]:
df_test.isnull().sum()

Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

showing null values in test set

In [17]:
df_test = pd.get_dummies(df_test)

panda provide get dummies to convert all the data to integers

In [18]:
my_imputer2 = SimpleImputer(strategy='mean')
df_clean2 = pd.DataFrame(my_imputer.fit_transform(df_test))
df_clean2.columns = df_test.columns

handling the missing values using simple imputer

In [19]:
Survived = model.predict(df_clean2)

predicting the model using the cleaned data

In [20]:
df_clean

     Survived  Pclass        Age  ...  Embarked_C  Embarked_Q  Embarked_S
0         0.0     3.0  22.000000  ...         0.0         0.0         1.0
1         1.0     1.0  38.000000  ...         1.0         0.0         0.0
2         1.0     3.0  26.000000  ...         0.0         0.0         1.0
3         1.0     1.0  35.000000  ...         0.0         0.0         1.0
4         0.0     3.0  35.000000  ...         0.0         0.0         1.0
..        ...     ...        ...  ...         ...         ...         ...
884       0.0     2.0  27.000000  ...         0.0         0.0         1.0
885       1.0     1.0  19.000000  ...         0.0         0.0         1.0
886       0.0     3.0  29.642093  ...         0.0         0.0         1.0
887       1.0     1.0  26.000000  ...         1.0         0.0         0.0
888       0.0     3.0  32.000000  ...         0.0         1.0         0.0

[889 rows x 11 columns]

In [21]:
df_clean2

     Pclass       Age  SibSp  ...  Embarked_C  Embarked_Q  Embarked_S
0       3.0  34.50000    0.0  ...         0.0         1.0         0.0
1       3.0  47.00000    1.0  ...         0.0         0.0         1.0
2       2.0  62.00000    0.0  ...         0.0         1.0         0.0
3       3.0  27.00000    0.0  ...         0.0         0.0         1.0
4       3.0  22.00000    1.0  ...         0.0         0.0         1.0
..      ...       ...    ...  ...         ...         ...         ...
413     3.0  30.27259    0.0  ...         0.0         0.0         1.0
414     1.0  39.00000    0.0  ...         1.0         0.0         0.0
415     3.0  38.50000    0.0  ...         0.0         0.0         1.0
416     3.0  30.27259    0.0  ...         0.0         0.0         1.0
417     3.0  30.27259    1.0  ...         1.0         0.0         0.0

[418 rows x 10 columns]

In [22]:
Survived

array([0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1.,
       1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0.,
       1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0.,
       0., 1., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 1.,
       0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1.,
       0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0.,
       1., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0.,
       1., 1., 1., 1., 1., 0., 1., 0., 0., 0.])

In [23]:
list_of_tuples = list(zip(PassengerId, Survived))

storing the two variables in a list to pass it to the dataframe

In [24]:
submission = pd.DataFrame(list_of_tuples,columns = ['PassengerId', 'Survived'])

passing the list and naming the columns

In [25]:
submission

     PassengerId  Survived
0            892       0.0
1            893       0.0
2            894       0.0
3            895       0.0
4            896       1.0
..           ...       ...
413         1305       0.0
414         1306       1.0
415         1307       0.0
416         1308       0.0
417         1309       0.0

[418 rows x 2 columns]

In [26]:
submission = submission.astype(int)

converting the datatype to int because in kaggle the type must be int

In [27]:
submission.to_csv('submission2.csv', encoding='utf-8',index=False)

saving the submission file in .cvs format